/* 전체 패널 레이아웃 설정 */
.environmentControlPanel {
    position: relative;
    width: 100%;
    height: 100vh; /* 화면 전체 높이를 차지 */
    background-color: #f5f5f5;
    overflow: hidden;
    box-sizing: border-box;
}

/* Sidebar 스타일 */
.environmentSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%; /* 화면 전체 높이 차지 */
    background-color: #2d2f33;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0px;
    box-sizing: border-box;
    padding-top: 500px; /* 메뉴 항목 전체를 아래로 이동시키기 위한 여백 추가 */
}

/* Sidebar 내부 메뉴 스타일 */
.environmentBack {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%; /* 사이드바와 맞추기 위해 너비를 100%로 설정 */
    padding: 20px; /* 여백을 조정하여 사이드바 내에 맞추기 */
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.environmentMenuItem {
    padding: 50px 20px; /* 좌우 여백과 위아래 여백 설정 */
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 20px; /* 메뉴 항목 간 간격 추가 */
    text-align: center; /* 글씨를 중앙 정렬하여 좌우 간격 동일하게 설정 */
    font-weight: bold;
}

.environmentMenuItem.active {
    background-color: #9fe49f;
    margin: 0; /* 사이드바 경계를 넘지 않도록 마진 제거 */
    padding: 50px 0px; /* 좌우 여백과 위아래 여백 유지 */
    font-weight: bold;
}

/* Main Content 스타일 */
.environmentMainContent {
    position: absolute;
    top: 50px;
    left: 450px; /* 사이드바 너비만큼 옆으로 이동 */
    right: 50px;
    bottom: 50px;
    padding: 50px;
    background-color: #d1d1d1;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 80px;
}

/* Card Container 스타일 */
.environmentCardContainer {
    position: absolute;
    width: 83%;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* Card 스타일 */
.environmentCard {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none; /* 테두리 제거 */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.environmentCard:hover {
    transform: scale(1.05);
}

/* 카드 헤더 스타일 */
.environmentCardHeader {
    text-align: center;
    font-weight: bold;
    font-size: 100px; /* 글씨 크기 키움 */
    color: #000;
}

.environmentDegree {
    position: fixed;
    font-size:80px !important;
    line-height: 1.5em;
    color: #000;
    top: 65% !important;
    transform: translateY(-200%); /* 상하 간격을 동일하게 설정 */
    
}
