
/* 전체 패널 레이아웃 설정 */
.controlPanel {
    position: relative;
    width: 100%;
    height: 100vh; /* 화면 전체 높이를 차지 */
    background-color: #f5f5f5;
    overflow: hidden;
    box-sizing: border-box;
}

/* Sidebar 스타일 */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%; /* 화면 전체 높이 차지 */
    background-color: #2d2f33;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0px;
    box-sizing: border-box;
    padding-top: 500px; /* 메뉴 항목 전체를 아래로 이동시키기 위한 여백 추가 */
}

/* Sidebar 내부 메뉴 스타일 */

.back {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%; /* 사이드바와 맞추기 위해 너비를 100%로 설정 */
    padding: 20px; /* 여백을 조정하여 사이드바 내에 맞추기 */
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    box-sizing: border-box;
}



.menuItem {
    padding: 50px 20px; /* 좌우 여백과 위아래 여백 설정 */
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 20px; /* 메뉴 항목 간 간격 추가 */
    text-align: center; /* 글씨를 중앙 정렬하여 좌우 간격 동일하게 설정 */
    font-weight: bold;
}

.menuItem.active {
    background-color: #9fe49f;
    margin: 0; /* 사이드바 경계를 넘지 않도록 마진 제거 */
    padding: 50px 0px; /* 좌우 여백과 위아래 여백 유지 */
    font-weight: bold;
}


/* Main Content 스타일 */
.mainContent {
    position: absolute;
    top: 50px;
    left: 450px; /* 사이드바 너비만큼 옆으로 이동 */
    right: 50px;
    bottom: 50px;
    padding: 50px;
    background-color: #d1d1d1;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 80px;
}



/* Card Container 스타일 */
.cardContainer {
    position: absolute;
    width: 83%;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* Card 스타일 */
.card {
    background-color: #ffffff;
    border-radius: 80px;
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
}

.statusIndicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.statusIndicator.red {
    background-color: red;
}

.statusIndicator.green {
    background-color: green;
}

/* 카드 버튼 스타일 */
.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20%;
}

.actionButton {
    background-color: #e0e0e0;
    color: #000;
    border-radius: 5px;
    width: 100%
}

.degree {
    position: fixed;
    top: 65% !important;
    transform: translateY(-200%); /* 상하 간격을 동일하게 설정 */
    font-size:80px !important;
    line-height: 1.5em;
    color: #000 !important;
    
}
